body {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 70px;
}

header .sc-center-header {
  --bs-tertiary-bg: #e5e5e5;
}

header .sc-center-header {
  --bs-body-bg: #e5e5e5;
}

header .sc-center-header input {
  font-size: 14px;
  height: 40px;
  
}

header .sc-center-header i {
  font-size: 18px;
}

header .sc-right-header button {
  padding: 12px;
}


main {
  height: calc(100vh - 70px);
}

@media screen and (min-width: 576px) {
  
}

@media screen and (min-width: 768px) {
  
}

@media screen and (max-width: 991px) {
  header .sc-left-header {
    max-width: 74px;
  }
}