body {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 70px;
}

header .sc-left-header {
  max-width: 70px;
}



header .sc-center-header #search-bar-icon {
  background-color: var(--sc-bkg-search-header);
}

header .sc-center-header #search-bar {
  background-color: var(--sc-bkg-search-header);
}

header .sc-left-header {

}

@media screen and (min-width: 576px) {
  
}

@media screen and (min-width: 768px) {
  header .sc-left-header {
    max-width: 150px;
  }
  
}

@media screen and (min-width: 992px) {
  
}