body {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 70px;
}

header .sc-center-header {
  --bs-tertiary-bg: #e5e5e5;
}

header .sc-center-header {
  --bs-body-bg: #e5e5e5;
}

header .sc-center-header input {
  font-size: 14px;
  height: 40px;
  
}

header .sc-center-header i {
  font-size: 18px;
}

header .sc-right-header button {
  padding: 12px;
}

main {
  height: calc(100vh - 70px);
}

main  .sc-main-left{
  width: 150px;
  background-image: url(../../img/sidebar-bg.png);
  background-color: var(--sc-bkg-main-left);
  padding: 20px;
}

main  .sc-main-left ul {
  list-style-type: none;
  padding: 0;
}

main  .sc-main-left ul li > div:first-child {
  width: 35%;
}

main  .sc-main-left ul li > div:last-child {
  width: 65%;
}


main  .sc-main-left ul li:hover {
  background-color: #828f97;
  cursor: pointer;
}

main  .sc-main-right {
  width: calc(100% - 150px);
  background-color: #f8f9fa;
}

main .sc-main-right .sc-main-right-top {
  background-color: var(--sc-bkg-main-right-top);
}

main .sc-main-right .sc-main-right-top span.badge {
  background-color: #165bba;
  font-size: 0.875rem;
}

main .sc-main-right .sc-main-right-top .breadcrumb-item+.breadcrumb-item::before {
  color: white;
}

main .sc-main-right .sc-main-right-top .offcanvas {
  width: 50vw;
}

main .sc-main-right .sc-main-right-bottom table img {
  width: 30px;
}


main .sc-main-right .sc-main-right-bottom table tr > :first-child {
  text-align: left;
  width: 40%;
}



@media screen and (max-width: 767px) {
  main .sc-main-right .sc-main-right-bottom table tr > :nth-child(2) {
    display: none;
  }

  main .sc-main-right .sc-main-right-bottom table tr > :nth-child(3) {
    display: none;
  }

}

@media screen and (max-width: 991px) {
  header .sc-left-header {
    max-width: 74px;
  }

  main  .sc-main-left{
    max-width: 70px;
    padding: 20 0;
  }
  
  main  .sc-main-right {
    width: calc(100% - 70px);
  }
  

  main  .sc-main-left ul li div:first-child {
    width: 100%;
  }

  main .sc-main-right .sc-main-right-top .offcanvas {
    width: 100vw;
  }
  
  
}